# Personal data
personal-data.json
personal-data-en.json

# Application targets
companies/*
!companies/example.json

# Generated PDFs
gen/

# CV content and photo
cv.json
cv-en.json
img/

# Skills profile content
abilities.json
abilities-en.json
